:root {
  --clr-error: hsl(0, 100%, 66%);
  --clr-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-greyish-violet: hsl(270, 3%, 87%);
  --clr-dark-greyish-violet: hsl(279, 6%, 55%);
  --clr-very-dark-violet: hsl(278, 68%, 11%);
}

.App {
  text-align: center;
}
